
**THEORY SOLUTIONS**

1.What are data structures, and why are they important?
  - Data Structures are the way of storing and organizing data,
  -It is important because any stored data can be easily accessed and changed as per the requiremnets easily.

2.Explain the difference between mutable and immutable data types with examples
- Mutable data types can be changed and thus support item assignment.Example List,Sets,Dictionaries.
-Immutable data types cannot be changed once created. Example Tuple,Strings.

3.What are the main differences between lists and tuples in Python?
 - Lists are the ordered form of storing data type which is mutable and support item assignment,while tuples are the form of data structure which is immutable and does not support item assignment.

4.Describe how dictionaries store data.
- Dictionaries store data in the form of keys,values pairs ,which are muttable and accesable.

5.Why might you use a set instead of a list in Python?
- Because set is a form of data structure which gives the unique data and store the data in unordered form,while the list gives the whole data not maintaining the uniquenss of data .

6.What is a string in Python, and how is it different from a list?
- String is the sequence of character, which is used to represent and manupilate the textual data.
-String is immutable while list is muttable.

7.How do tuples ensure data integrity in Python?
 - Tuples are the data structure which are immutable so it is used to store the data which is permanent. Also tuples are the Hashable form of data type thus maintaining the python integrity.

8.What is a hash table, and how does it relate to dictionaries in Python
- A hash table is the particular way of storing data in the associative manner.Each value has assigned a specific key,which generates a hash code.
- So when the data is need to be retrieved in dictionaries a particular key is used having a specific hash code.
- Example= details={"pranjal":100,"nandini":90,"vaishnavi":90}
print("The marks of Pranjal is", details["Pranjal"]

9.Can lists contain different data types in Python?
- Yes, list can store ordered and heterogenous form of data type .

10.Explain why strings are immutable in Python.
- Because Stings does not support item assignment.
-They has Hashability.
-They cannot be changed so used for python optimiztion as python can execute a code containing string knowing string won't change

11.What advantages do dictionaries offer over lists for certain tasks?
- Dictonaries are used to store data in the form of keys value pairs which is better for storing product code, user id and password.
-but in case of list data is stored in a ordered and heterogenous data better for storing data in a continious form.

12.Describe a scenario where using a tuple would be preferable over a list?
 - Tuples are immutable so it is useful for storing a data which is constant.
  Example Aurangabad=(Founded: 1610
Area: 141 km²)

13.How do sets handle duplicate values in Python?
 - Sets give unique data when the code is run
 -So s={1,2,2,2,34,56,}
 print(s)
 {1,2,34,56}
 -Sets automatically eliminate the duplicate value,as shown in the example.

14.How does the “in” keyword work differently for lists and dictionaries?
- Example, a=[1,2,3,4,5]
1 in a , #thus it is used to find a particular value in the list
-a={'pranjal':100,'nandini':90}
'pranjal' in a #thus it is use to find a particular key in a dictionary.

15.Can you modify the elements of a tuple? Explain why or why not
 - No, the elements cannot be modified in the tuples because tuples are immutable
 - They have a stable hash value

16.What is a nested dictionary, and give an example of its use case?
- Nested Dictionary is the dictionory having another dictionary in it,
-For example storing the student data in a particular format , Student={Name:Pranjal, Age:22, Subject[Data Analysis,Cosmetics]}

17 Describe the time complexity of accessing elements in a dictionary?
 - In dictionaries if you want to access the data you have to access it via a key or a value no direct indexing or slicing is possible in the dictionary.

18 In what situations are lists preferred over dictionaries?
- Lists are preffered over dictionaries when data is not meant to be stored in the form of key value pairs, thus in the situation where a heterogenous data is used to store with no special category.

19 Why are dictionaries considered unordered, and how does that affect data retrieval?
- Because the data is stored in the key value form which does not guarantee a ordererd storing ,the main moto is fast data retrieval which is possible via accessing through key or value.

20.Explain the difference between a list and a dictionary in terms of data retrieval
- In case of list the data can be retrieved by indexing or slicing.
-In casse of dictionary the can be retrieved by key or value pairs as per the requirement.

**PRACTICAL SOLUTIONS**

1.Write a code to create a string with your name and print it

In [ ]:
Name="Pranjal"
print("My name is", Name)

My name is Pranjal

2.Write a code to find the length of the string "Hello World"

In [ ]:
Word="Hello World"
len(Word)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
A=('Python Programming')
Value=A[:3]
print("the slice of first 3 character is", Value)

the slice of first 3 character is Pyt

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
string='hello'
S=string.upper()
print(S)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
Sent_given=("i like apple")
Fav=Sent_given.replace("apple", "orange")
print(Fav)

i like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
A_list=list(range (1,6))
print(A_list)

[1, 2, 3, 4, 5]

In [ ]:
type(A_list)

list

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
Num_order=[1,2,3,4]
Num_order.append(10)
print(Num_order)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list=[1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
p=['a','b','c','d']
word=p[2]
print('The second element in the list', word)

The second element in the list c

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_bag=[10, 20, 30, 40, 50]

In [ ]:
#1
my_bag[::-1]

[50, 40, 30, 20, 10]

In [ ]:
#2

my_list=[10,20,30,40,50]

my_list.reverse()
my_list

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
Value_given=(100,200,300)
type(Value_given)

tuple

In [ ]:
print( 'My tuple values are' ,Value_given)

My tuple values are (100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colours=('red', 'green', 'blue', 'yellow')
New_colour=colours[-2]
print('The Second to last element of tuple',New_colour)

The Second to last element of tuple blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
Min_value= (10, 20, 5, 15)
a=min(Min_value)
print('The minimum value of given tuple is', a )

The minimum value of given tuple is 5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
Animals=('dog', 'cat', 'rabbit')
Animals.index('cat')

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits_list=('Mango','banana','kiwi')
fruits_list

('Mango', 'banana', 'kiwi')

In [ ]:
type(fruits_list)

tuple

In [ ]:
fruits_list[2]

'kiwi'

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
Value={'a','b','c'}
print('the set with elements are', ( Value))

the set with elements are {'c', 'b', 'a'}

In [ ]:
print(f'the set with the elemrnts are{Value}')

the set with the elemrnts are{'c', 'b', 'a'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
A={1, 2, 3, 4, 5}
A.clear()
A

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
A1={1,2,3}
A2={3,4,5}
A1|A2

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
B1={1,2,3}
B2={2,3,4}
B1&B2

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
My_dict={'Name' :'Pranjal','Age':'22','city':'Nanded'}
print('My dictionary is', (My_dict))

My dictionary is {'Name': 'Pranjal', 'Age': '22', 'city': 'Nanded'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
Dict={'name': 'John', 'age': 25}
D={'country':'USA'}
Dict.update(D)
Dict

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
My_info={'name': 'Alice', 'age': 30}
My_info['name']

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
Info={'name': 'Bob', 'age': 22, 'city': 'New York'}
del Info["age"]
Info

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
info={'name': 'Alice', 'city': 'Paris'}
info["city"]

'Paris'

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
List=[1,2,3,4,]
tuple=(8,6,7)
dictionary={1:(4,4,5)}
print(f'the list is{List}, the tuple is{tuple}, the dictionary is{dictionary}')

the list is[1, 2, 3, 4], the tuple is(8, 6, 7), the dictionary is{1: (4, 4, 5)}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
num=[85,90,45,99,1]
num.sort()
num

[1, 45, 85, 90, 99]

In [ ]:
print("The sorted list is" ,num)

The sorted list is [1, 45, 85, 90, 99]

28.Write a code to create a list with strings and print the element at the third index.

In [ ]:
l=['a','b','c','d','e']
l[3]

'd'

In [ ]:
print('The third index is',l[3])

The third index is d

29.Write a code to combine two dictionaries into one and print the result

In [ ]:
D1={'Name':'Pranjal' , 'Age':22 , 'Subject':'Data Analyst'}
d2={'Grade':'A'}
D1.update(d2)
D1
print(f'The combined result is {D1}')

The combined result is {'Name': 'Pranjal', 'Age': 22, 'Subject': 'Data Analyst', 'Grade': 'A'}

30.Write a code to convert a list of strings into a set.

In [ ]:
list=['Apple','banana','kiwi']
New_set=set(list)
print(f'The set created is{New_set}')

The set created is{'kiwi', 'banana', 'Apple'}